.formCreate {
    margin-right: auto;
    margin-left: auto;

    .inputName {
        position: relative;
        .fillPerson {
            position: absolute;
            top: 18px;
            left: 10px;
            font-size: 21px;
        }
    }

    .inputPassword {
        position: relative;
        .lockPassword {
            position: absolute;
            top: 18px;
            left: 10px;
            font-size: 21px;
        }
        .eyePassword {
            position: absolute;
            top: 18px;
            right: 15px;
            font-size: 21px;
        }
    }

    input {
        width: 314px;
        height: 54px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        margin-bottom: 23px;
        padding-left: 70px;
        padding-right: 70px;
        font-size: 21px;
        border-style: none;
    }

    .signIn {
        display: flex;
        justify-content: flex-end;
        margin-top: 92px;

        .textButton {
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 20px;
            font-weight: 500;
            font-size: 30px;
            line-height: 35px;
        }

        .buttonSignIn {
            width: 55px;
            height: 43px;
            background: linear-gradient(180deg, #f5d355 0%, #f57d25 100%);
            border-radius: 30px;
            border-style: none;

            .arrowButton {
                color: white;
                font-size: 25px;
            }
        }
    }
}
